/*
!.gitignore
!.editorconfig
!README.md
!plugins/
!themes/
!uploads/
!db/

plugins/*
!plugins/tent-functionality/
!plugins/tent-blocks/
!plugins/tent-business-hours/
!plugins/tent-contact/

themes/*
!themes/tent/
themes/tent/node_modules/

uploads/wp-migrate-db/
