/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.bypostauthor {
  display: block;
}

.gallery-caption {
  display: block;
}
