// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

@mixin container {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-small {
  > * {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}

@mixin reset-link {
  &,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $color__text-main;
  }

  &:hover,
  &:focus,
  &:active {
    color: #000;
  }
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin fill-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@mixin bordered {
  border: 1px solid $color__border;
}

@mixin border-top {
  border-top: 4px solid $color__border;
}

@mixin border-bottom {
  border-bottom: 1px solid $color__border;
}

@mixin border-top--dashed {
  border-top: 1px dashed $color__border--dark;
}

@mixin obscure {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

// Bullet-proof sr-only
// (https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034)
@mixin sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@mixin sr-only--focusable {
  &:focus,
  &:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
  }
}
