/*--------------------------------------------------------------
# Reusable utility classes 
--------------------------------------------------------------*/

.screen-reader-text {
  @include sr-only;
  @include sr-only--focusable;
}

.container {
  @include container;
}

.container-small {
  @include container-small;
}

.reset-link {
  @include reset-link;
}

.flex {
  display: flex;

  > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.flex--gutter {
  > *:not(:first-child) {
    margin-left: $base__space-unit/2;
  }
}

.flex--split {
  display: flex;
  justify-content: space-between;

  & > * {
    width: 47.5%;
  }
}

.required {
  color: $color__secondary;
}
