/*--------------------------------------------------------------
# Reusable utility classes 
--------------------------------------------------------------*/

.screen-reader-text {
  @include sr-only;
  @include sr-only--focusable;
}

.container {
  @include container;
}

.container--small {
  @include container--small;
}

.flex {
  display: flex;
}

.flex--split {
  display: flex;

  & > * {
    width: 50%;
  }
}

.alignleft {
  display: inline;
  float: left;
  margin-right: $base__space-unit;
}

.alignright {
  display: inline;
  float: right;
  margin-left: $base__space-unit;
}

.aligncenter {
  clear: both;
  @include center-block;
}
