/*--------------------------------------------------------------
# Reusable utility classes 
--------------------------------------------------------------*/

.screen-reader-text {
  @include sr-only;
  @include sr-only--focusable;
}

.container {
  @include container;
}

.flex {
  display: flex;
}

.flex--split {
  display: flex;

  & > * {
    width: 50%;
  }
}
