/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
