// Structure
$base__space-unit: 1.5rem;
$max-width: 1120px;
$max-width--desktop: 1010px;
$max-width--tablet: 700px;
$footer-height: 350px;

// Colors
$color__brand: #248a83; // green
$color__secondary: #d99054; // orange
$color__text-main: #404040;
$color__text--muted: #a1a1a1;
$color__background-body: #fff;
$color__link: $color__brand;
$color__link-hover: #2f1339; // purple
$color__link-hover--secondary: #f0e4d1; // yellow

// Borders
$color__border: #e1e1e1;
$color__border--dark: #c8c8c8;

// Buttons
$button--primary: #000;
$button--secondary: $color__brand;
$button--disabled: #808080;

// Fields
$field__bg: #f4f4f4;

// Typography
$font__main: "Merriweather Web", serif;
$font__title: "Novecento Sans Web", sans-serif;
$font__line-height-body: 1.75;

// Transitions
$transition-dur: 0.8s;
