/*--------------------------------------------------------------
# Blog-related styles 
--------------------------------------------------------------*/

.entry-header--float {
  position: relative;
  width: 100%;
}

.entry-header__img--fill {
  display: block;
  width: 100%;
  height: auto;
}

// class appended in `header.php`
.site--splash {
  .entry-title {
    color: $color__background-body;
  }
}

.entry-title--float {
  position: absolute;
  top: $base__space-unit;
  width: 70%;
  background-color: $color__brand;

  &,
  a {
    color: $color__background-body;
    text-decoration: none;
  }
}

.entry-meta--float {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $color__brand;
  color: $color__background-body;
}
