/*--------------------------------------------------------------
# Index.php
--------------------------------------------------------------*/

.site-content {
  @include container;

  display: flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    flex-grow: 1;
  }
}

.site-content--splash {
  max-width: unset;

  *:not(:first-child) {
    @include container;
  }
}

.site-content__main {
  flex-grow: 1;
}
