/*--------------------------------------------------------------
# Post-related styles 
--------------------------------------------------------------*/

.entry__header--float {
  position: relative;
  width: 100%;
}

.entry__header-img--fill {
  display: block;
  width: 100%;
  height: auto;
}

.entry__title--secondary {
  color: $color__secondary;
}

.entry__title--float {
  position: absolute;
  top: $base__space-unit;
  width: 70%;
  padding: $base__space-unit/2;
  background-color: $color__brand;

  &,
  a {
    color: $color__background-body;
    text-decoration: none;
  }
}

.entry__content {
  margin-bottom: 2 * $base__space-unit;
}

.entry__meta--float {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $base__space-unit/2;
  background-color: $color__brand;
  color: $color__background-body;
}
