/*--------------------------------------------------------------
# Site-wide styles 
--------------------------------------------------------------*/

.site {
  @include container;

  display: flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    flex-grow: 1;
  }
}

.site--splash {
  max-width: unset;
  text-align: center;

  *:not(:first-child) {
    @include container;
  }

  .entry-title {
    color: $color__background-body;
  }
}

.site__main {
  flex-grow: 1;
}
