/*--------------------------------------------------------------
# Adventures styles 
--------------------------------------------------------------*/

.adventures {
  text-align: center;
  padding: 0 $base__space-unit;
  @include desktop {
    padding: 0;
  }
}

.adventures-grid {
  @include border-top--dashed;

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: $base__space-unit/2;
  overflow: hidden;
  padding: $base__space-unit 0;

  height: 850px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}
