/*--------------------------------------------------------------
# Adventures thumbnail styles 
--------------------------------------------------------------*/

@mixin adventures-thumbnail__grid($areas) {
  @for $i from 1 through $areas {
    :nth-child(#{$i}) {
      grid-area: a#{$i};
    }
  }
}

.adventures-thumbnail__wrapper {
  @include adventures-thumbnail__grid(4);

  display: grid;
  grid-template-areas:
    "a1 a2 a2"
    "a1 a3 a4";
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 25% 25%;
  grid-gap: $base__space-unit/2;
  height: 550px;
  overflow: hidden;
}

.adventures-thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.adventures-thumbnail__header {
  @include obscure;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: $base__space-unit;
  text-align: left;
}

.adventures-thumbnail__img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.adventures-thumbnail__link {
  display: block;

  &,
  &:visited {
    color: $color__background-body;
  }
}
