/*--------------------------------------------------------------
# Adventures thumbnail styles 
--------------------------------------------------------------*/

@mixin adventures-thumbnail__grid($areas) {
  @for $i from 1 through $areas {
    :nth-child(#{$i}) {
      grid-area: a#{$i};
    }
  }
}

.adventures-thumbnail__wrapper {
  @include adventures-thumbnail__grid(4);

  display: grid;
  grid-template-areas:
    "a1"
    "a2"
    "a3"
    "a4";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: $base__space-unit/2;
  overflow: hidden;

  @include tablet {
    height: 550px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
      "a1 a2 a2"
      "a1 a3 a4";
  }
}

.adventures-thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 340px;

  @include tablet {
    min-height: unset;
  }

  .entry__title {
    @include font-size(2);
  }
}

.adventures-thumbnail--small {
  @include tablet {
    .entry__title {
      @include font-size(1.5);
    }

    &:first-child .entry__title {
      @include font-size(2.3);
    }

    &:nth-child(2) .entry__title {
      @include font-size(2);
    }
  }
}

.adventures-thumbnail__header {
  @include obscure;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: $base__space-unit;
  text-align: left;
}

.adventures-thumbnail__img {
  @include fill-img;
}

.adventures-thumbnail__link {
  display: block;
  width: 90%;

  &,
  &:visited {
    color: $color__background-body;
  }

  &:hover {
    color: $color__link-hover--secondary;
  }
}

.adventures-thumbnail__action {
  @include font-size(1.2);
  display: inline-block;
  margin: $base__space-unit 0;
}
