/*--------------------------------------------------------------
# Button styles 
--------------------------------------------------------------*/

@mixin button {
  @include title;
  @include font-size(0.75);

  padding: $base__space-unit/2;
  border: 1px solid $button--primary;
  color: $button--primary;
  text-decoration: none;
  padding-left: 0.75 * $base__space-unit;
  padding-right: 0.75 * $base__space-unit;

  &,
  &:visited {
    color: $button--primary;
  }

  &:hover {
    @include button--green;
  }
}

@mixin button--green {
  background-color: $button--secondary;
  border-color: $button--secondary;

  &,
  &:visited {
    color: $color__background-body;
  }
}

.button {
  @include button;
}

.button--secondary {
  @include button--green;

  &:hover {
    background-color: darken($button--secondary, 10%);
  }
}

.button--tertiary {
  border-color: $color__background-body;

  &,
  &:visited {
    color: $color__background-body;
  }

  &:hover {
    background-color: $button--secondary;
  }
}

.button__icon {
  font-size: 1.3rem;
  line-height: 0;
}
