/*--------------------------------------------------------------
# Button styles 
--------------------------------------------------------------*/

@mixin button--green {
  background-color: $button--secondary;
  border-color: $button--secondary;
  color: $color__background-body;
}

.button {
  padding: $base__space-unit/2;
  font-size: 0.85rem;
  border: 1px solid $button--primary;
  color: $button--primary;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0.75 * $base__space-unit;
  padding-right: 0.75 * $base__space-unit;

  &:hover {
    @include button--green;
  }
}

.button--secondary {
  @include button--green;

  &:hover {
    background-color: darken($button--secondary, 10%);
  }
}

.button__icon {
  font-size: 1.3rem;
}
