/*--------------------------------------------------------------
# Contact form 7 styles 
--------------------------------------------------------------*/

// don't expect client to add class names
.wpcf7-form {
  font-family: $font__title;
  text-transform: uppercase;

  i {
    color: $color__secondary;
  }

  input[type="submit"] {
    @include button;
    @include button--secondary;
  }
}

.wpcf7-form-control {
  &:not([type='submit']) {
    @include input;
  }
}
