/*--------------------------------------------------------------
# Page styles 
--------------------------------------------------------------*/

.page__title {
  @include title;
  padding: $base__space-unit/2 $base__space-unit 0 $base__space-unit;

  @include desktop {
    padding-left: 0;
  }
}

.page__header--underline {
  @include border-bottom;
}

.page__section--left {
  text-align: left;
}
