/*--------------------------------------------------------------
# Search form styles
--------------------------------------------------------------*/

.search-form {
}

.search-form__fieldset {
  border: none;
  padding: 0;
}

.search-form__field {
  @include bordered;

  font: inherit;
  padding: $base__space-unit/4;
  background-color: $field__bg;
}

.search-form__submit {
}

.search-form__icon {
}
