/*--------------------------------------------------------------
# Shop thumbnail styles 
--------------------------------------------------------------*/

.shop-thumbnail__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $base__space-unit;
  }
}

.shop-thumbnail {
  @include bordered;
  @include border-top--l;

  &:hover {
    border-color: $color__secondary;
  }
}

.shop-thumbnail__content {
  text-align: center;
  height: 100px;
  padding: 0 $base__space-unit;

  @include desktop {
    padding: 0 $base__space-unit / 2;
  }
}

.shop-thumbnail__icon {
  width: 70px;
  height: 70px;
  margin: $base__space-unit 0;
}

.shop-thumbnail__action {
  display: inline-block;
  margin: $base__space-unit 0;
}
