/*--------------------------------------------------------------
# Sidebar 
--------------------------------------------------------------*/

.sidebar {
  @include border-top--dashed;

  flex-grow: 0;
  min-width: 300px;
  padding: $base__space-unit;
  border-left: 1px solid $color__border;

  @include desktop {
    padding: $base__space-unit $base__space-unit * 2 $base__space-unit * 2
      $base__space-unit * 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include title;
    @include font-size(1.4);
    line-height: 1.75;
  }

  ul,
  ol,
  li {
    padding-left: 0;
    list-style-type: none;
  }

  @include desktop {
    @include pad-between;
    border-top: none;
  }
}
