/*--------------------------------------------------------------
# Site-wide styles 
--------------------------------------------------------------*/

.site {
  @include container;
  min-width: 400px;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > * {
      flex-grow: 1;
    }
  }
}

.site--splash {
  max-width: unset;
  text-align: center;

  *:not(:first-child) {
    @include container;
  }

  .page__title,
  .search-form__expanding-wrap {
    color: $color__background-body;
  }
}

.site__header {
  @include border-bottom;
}

.site__header--above {
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.site__header-nav {
  @include container;

  position: relative;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: $font__title;
  line-height: $font__line-height-body;
  z-index: 9999;

  ul {
    display: none;
  }

  li {
    position: relative;
    display: inline-block;
  }

  a {
    color: $color__background-body;
  }

  a:hover {
    color: $color__link-hover--secondary;
  }

  // menu items
  & > * * {
    padding: $base__space-unit/6 0.5rem;
    text-transform: uppercase;
  }
}

.site__header-nav--no-bg {
  a {
    color: $color__link;
  }

  a:hover {
    color: $color__link-hover;
  }
}

.site__header-logo {
  height: 1.4 * $base__space-unit;
  min-width: 2.3 * $base__space-unit;
}

.site__header-title {
  @include sr-only;
}

/* collapsed */
.site__header-nav.toggled ul {
  display: unset;
}

// TODO: refactor breakpoints to use mixin
@media screen and (min-width: 768px) {
  .site__header-nav--closed {
    display: none;
  }

  .site__header-nav ul {
    display: unset;
  }
}

.site__main {
  flex-grow: 1;
  min-height: calc(100vh - $footer-height);
  margin-bottom: 2 * $base__space-unit;

  @include desktop {
    @include pad-between;
  }
}

.site__footer {
  position: relative;
  overflow: hidden;
  height: $footer-height;
  padding: $base__space-unit * 2 $base__space-unit $base__space-unit
    $base__space-unit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color__secondary;
  }

  &,
  a,
  i {
    color: $color__background-body;
  }

  a:hover .contact-info__content {
    text-decoration: underline;
  }

  @include desktop {
    height: unset;
  }
}

.site__footer-content {
  @include container;
  display: flex;
  width: 100%;
}

.site__footer-sidebar {
  > * {
    margin-right: $base__space-unit * 2;
  }
}

.site__footer-bg {
  @include fill-img;
  z-index: -1;
}

.site__footer-logo-wrapper {
  flex-grow: 1;
  text-align: center;
  padding: $base__space-unit;

  @include desktop {
    text-align: right;
  }
}
.site__footer-logo {
  height: 50px;
}

.site__footer-sidebar {
  display: none;

  @include desktop {
    display: flex;
    flex-grow: 1;
  }
}

.site__footer-copyright {
  text-align: center;
  font-family: $font__title;
  text-transform: uppercase;
  margin-top: $base__space-unit * 2;
  margin-bottom: $base__space-unit;
}
