/*--------------------------------------------------------------
# Site-wide styles 
--------------------------------------------------------------*/

.site {
  @include container;

  display: flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    flex-grow: 1;
  }
}

.site--splash {
  max-width: unset;
  text-align: center;

  *:not(:first-child) {
    @include container;
  }

  .page__title {
    color: $color__background-body;
  }
}

.site__header {
  @include border-bottom;
}

.site__header--above {
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.site__header-nav {
  @include container;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font__title;
  line-height: $base__space-unit;
  z-index: 9999;

  ul {
    display: none;
  }

  li {
    position: relative;
    display: inline-block;
  }

  a {
    color: $color__background-body;
  }

  a:hover {
    color: $color__link-hover--secondary;
  }

  // menu items
  & > * * {
    padding: 0 0.5rem;
    text-transform: uppercase;
  }
}

.site__header-nav--no-bg {
  a {
    color: $color__link;
  }

  a:hover {
    color: $color__link-hover;
  }
}

.site__header-logo {
  height: 1.4 * $base__space-unit;
  min-width: 2.3 * $base__space-unit;
}

.site__header-title {
  @include sr-only;
}

/* collapsed */
.site__header-nav.toggled ul {
  display: unset;
}

// TODO: refactor breakpoints to use mixin
@media screen and (min-width: 768px) {
  .site__header-nav--closed {
    display: none;
  }

  .site__header-nav ul {
    display: unset;
  }
}

.site__main {
  @include pad-between;
  flex-grow: 1;
}

.site__footer {
  position: relative;
  overflow: hidden;
}

.site__footer-content {
  @include container;
  display: flex;
  width: 100%;
}

.site__footer-bg {
  @include fill-img;
  z-index: -1;
}

.site__footer-logo-wrapper {
  text-align: right;
  flex-grow: 1;
}
