{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "wordpress",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "wp": true,
    "wpApiSettings": true,
    "window": true,
    "document": true
  },
  "plugins": ["react", "jsx-a11y", "jest"],
  "settings": {
    "react": {
      "pragma": "wp"
    }
  },
  "rules": {
  }
}

